<form [formGroup]="updateUserForm" (ngSubmit)="onSubmit(action)" class="update-user-form">
  <h3>Criar Usuário</h3>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <label for="user-registration-job-function">Cargo</label>
      <input type="text" formControlName="jobFunction" [ngClass]="{ 'is-invalid': submitted && formControl.jobFunction.errors }" 
      class="form-control" id="user-registration-job-function" 
      placeholder="Digite o cargo ocupado pelo novo usuário">
      
      <div *ngIf="submitted && formControl.jobFunction.errors" class="invalid-feedback">
          <div *ngIf="formControl.jobFunction.errors.required">O cargo do usuário é obrigatório</div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <label for="user-registration-sector">Setor</label>
      <input type="text" class="form-control" formControlName="sector" id="user-registration-sector" 
      placeholder="Digite o setor onde trabalha o novo usuário" [ngClass]="{ 'is-invalid': submitted && formControl.sector.errors }">
      <div *ngIf="submitted && formControl.sector.errors" class="invalid-feedback">
          <div *ngIf="formControl.sector.errors.required">O setor é obrigatório.</div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="form-group">
        <label for="role">Tipo de Acesso</label>
        <select class="form-control text-left w-100" id="role" formControlName="role">
          <option value="operator" class="dropdown-item">
            Operador
          </option>
          <option value="admin" class="dropdown-item">
              Administrador
            </option>
        </select>
      </div>
    </div>
    
    
  </div>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <label for="user-registration-name">Nome</label>
      <input type="text" class="form-control" formControlName="firstName" id="user-registration-name" placeholder="Nome" [ngClass]="{ 'is-invalid': submitted && formControl.firstName.errors }">
      <div *ngIf="submitted && formControl.firstName.errors" class="invalid-feedback">
          <div *ngIf="formControl.firstName.errors.required">O nome é obrigatório</div>
      </div>
    </div>
    <div class="col-md-4 mb-3">
      <label for="user-registration-lastname">Sobrenome</label>
      <input type="text" class="form-control" formControlName="lastName" id="user-registration-lastname" placeholder="Sobrenome">
    </div>
    <div class="col-md-4 mb-3">
      <label for="user-registration-login">login</label>
      <div class="input-group">
        <input type="text" class="form-control" id="user-registration-login" formControlName="login" placeholder="Login" aria-describedby="user-registration-login-prepend" 
        [ngClass]="{ 'is-invalid': submitted && formControl.login.errors }">
        <div *ngIf="submitted && formControl.login.errors" class="invalid-feedback">
            <div *ngIf="formControl.login.errors.required">O Login é obrigatório</div>
            <div *ngIf="formControl.login.errors.email">O login deve ter um formato de e-mail válido.</div>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="col-md-6 mb-2">
      <label for="user-registration-password">Senha</label>
      <input type="password" class="form-control" id="user-registration-password" formControlName="password" placeholder="Senha" [ngClass]="{ 'is-invalid': submitted && formControl.password.errors }">
      <div *ngIf="submitted && formControl.password.errors" class="invalid-feedback">
          <div *ngIf="formControl.password.errors.required">A senha é obrigatória.</div>
          <div *ngIf="formControl.password.errors.minlength">A senha deve ter no mínimo 6 caracteres</div>
      </div>
    </div>
    <div class="col-md-6 mb-2">
      <label for="user-registration-repeat-password">Repetir senha</label>
      <input type="password" class="form-control" id="user-registration-repeat-password" formControlName="confirmPassword" placeholder="Repetir senha" [ngClass]="{ 'is-invalid': submitted && formControl.confirmPassword.errors }">
      <div *ngIf="submitted && formControl.confirmPassword.errors" class="invalid-feedback">
          <div *ngIf="formControl.confirmPassword.errors.required">A confirmação da senha é obrigatória.</div>
          <div *ngIf="formControl.confirmPassword.errors.mustMatch">As senhas informadas são diferentes</div>
      </div>
    </div>
  </div>
  <button class="btn btn-light" type="submit" (click)="onSubmit('Cancel')">Cancel</button>
  <button class="btn btn-primary" type="submit" (click)="onSubmit('Send')">Enviar</button>
</form>
