<div class="search-container">
  <form [formGroup]="searchInputForm">
    <div class="form-group">
      <label for="search-user">Buscar usuário cadastrado</label>
      <input id="search-user" type="text" class="form-control"  formControlName="searchUserToken" placeholder="Buscar usuário cadastrado"/>
    </div>
  </form>
  <table class="table table-striped">
    <thead>
      <tr>
        <td> Login </td>
        <td> Nome </td>
        <td> Cargo </td>
        <td> Setor </td>
        <td> Tipo de Acesso </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users | filterBy:searchUserTokenFilter">
        <td> {{user.login}} </td>
        <td> {{user.firstName + " " + user.lastName}} </td>
        <td> {{user.jobFunction}} </td>
        <td> {{user.sector}} </td>
        <td> {{user.role}} </td>
      </tr>
    </tbody>
  </table>
</div>




