<div class="container about-page">
  <div class="lead">
    <h2>Smart Balance</h2>
    <p>
      Este sistema será acoplado a uma balança contadora com o objetivo de pesar e contar aglomerados de peças 
      visando automatizar o processo de produção e estoque industrial. 
    </p>
    <br>
    <p>
      O projeto é uma parceria entre Virtus e Corning.
    </p>

    <div class="footer">
      <img src="assets/images/corning-logo.png"/>
      <img src="assets/images/logo_virtus.png"/>
      <h6 class="text-muted">Copyright © 2019 Corning Company - Todos os direitos reservados</h6>
    </div>
  </div>
</div>
