<button class="open-nav-button" (onClick)="openSidebarLateral()" > &#9776;Open</button>
<div class="sidenav container-fluid">
  <img class="img-fluid" src="assets/images/corning-logo-menu.jpg"/>
  <!--<a href="javascript:void(0)" class="closebtn">&times;</a>-->
  <a href="#" [routerLink]="['/dashboard/home']">Histórico</a>
  <a href="#" [routerLink]="['/dashboard/registerItem']">Cadastar Item</a>
  <a href="#" [routerLink]="['/dashboard/registerUser']" *ngIf ="(auth.currentUserLogged.role == 'admin')">Cadastrar Usuário</a>
  <a href="#" [routerLink]="['/dashboard/about']">Sobre</a>
  <a href="#" (click)="logout()">Sair</a>
</div>